
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');*/
 @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
/* Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* End Reset */





html,h1,h2,h3,h4,h5,h6,textarea{
    font-family: "Rubik", sans-serif;
	/*font-family: "Courier";*/
}

body {
	font-weight:400;
	background: #fff;
	font-size: 16px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
    padding:2rem 4rem 2rem;
    gap:1rem;
}


nav {
	position:fixed;
	top:1rem;
	width:calc(100% - 8rem);
	height:44px;
	box-sizing: border-box;
	padding:.5rem 3rem;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 1.5rem;
    color:#1778B5;
    background-image: linear-gradient(45deg, rgba(255,255,255,.8), rgba(23,120,180,1));
    background-image: linear-gradient(45deg, #33D4D1, rgba(23,120,180,1));
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(3px);
    /*border-radius: 10px;*/
}

nav a {
	color:#fff;
	position:relative;
}

nav a:hover, nav a:active {
	color:#ECF65C;
}

a {
	text-decoration: none;
	transition: transform all .3s;
}


li {
	display: inline-block;
	padding-left:1rem;
	transition: transform all .3s;
}

li:active, i:active {
	transform: scale(1.1);
}


header {
	background-image: url('images/unsplash2.jpg');
    background-size: cover;
    background-attachment: fixed;
	height:calc(100vh - 1rem);
    /*border:1px solid black;*/
}


.welcome {
	background-image: linear-gradient(#fff 60px, transparent);
	/*display: flex;*/
	height: 100%;
	align-items: center;
	position: relative;
	background-color: transparent;
	z-index: 10;
	padding:0 3rem;}


.welcome div {
	width:500px;
	position:absolute;
	top:50%;
	/*margin-top: 2.25rem;*/
}


h1, h2 {
    /*font-family: 'Esteban', serif;*/
	color:#06CC84;
	/*color: #fff;*/
}


nav, h1, h2 {
	font-family: Rubik, sans-serif;
}

nav, h2 {
    font-weight: 700;

}

h1 {
	font-weight: 500;
	font-size: 2rem;
	margin: 0 0 1rem;
	width: 100%;
}


h2 {
	text-align: center;
	font-size: 2rem;
	margin: 0 0 3rem;
	/*line-height: 0em;*/
	/*padding-left: 3rem;*/
	/*background-color: #0D6DDB;*/
	/*color:#F0EEED;*/
}


h2>span>span, header h1 {
	z-index: 999;
	position: relative;
}



main {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 3rem;
}

.left {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;
	align-content: start;

}


section {
	/*display:grid;*/
	padding-top:4rem;
	/*background-color: #fff;*/
	z-index: 10;
}


#me {
	width:8rem;
	height:8rem;
	border-radius: 50%;
    /*margin-top: -31px;*/
    float:right;
	/*shape-outside:circle(55% at 87px 57px);*/
}

.about p {
	margin-bottom: 0;
}

.portfolio, .blog {
	/*background-color: #fff;*/
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:2rem;
	width:calc(100% - 6rem;);
	text-align: center;
}

/*.image-grid div {*/
	padding:2rem;
}

.image-grid div:nth-child(4n+1) {
	/*border-bottom: 3px solid #FA6B4B;*/
}

.image-grid div:nth-child(even) {
	/*border-bottom: 3px solid #4E70F5;*/
}

.image-grid div:nth-child(4n+3), .image-grid div:nth-child(4n+4) {
	/*border-bottom: 3px solid #FFD845;*/
}

.image-grid img {	
	width:200px;
	height: 200px;
	box-shadow: 0 0 5px 1px #888888;
	transition: transform .3s;
}

.image-grid img:hover {
	transform:scale(1.1);
}

.xcontact {
	background-color: #01B1C9;
	color:#fff;
	/*position: sticky;*/
	padding-bottom: 3rem;
	/*bottom: 0;*/
	z-index: 9;
}

.xcontact h2 {
	color: #fff;
}
.xcontact h2>span {
    background:#4E70F5;
}

.xcontact>div {
	display:grid;
	grid-template-columns: 61.8% 38.2%;
	gap:2rem;
	align-items: center;
}

.icons {
	display:flex;
	justify-items: center;
	max-height: 281px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}


.icons a {
	color: #fff;
	padding:1rem;
}


.icons a:hover {
	color:#FFD845;
}





/*Forms & buttons*/

/*form button {
	box-shadow: none;
}

header button {
	margin-top: 1rem;
	border: 4px solid #4E70F5;
	border-image:linear-gradient(to bottom right,#FFFCF0, #4E70F5);
	border-image-slice: 1;
}

header button:hover {
	border: 4px solid #FFD845;
	border-image:linear-gradient(to bottom right,#FFD845, #FFD845);
	border-image-slice: 1;
}

header button:active {
	border: 4px solid #4E70F5;
	border-image:linear-gradient(to bottom right,#4E70F5, #FFFCF0);
	border-image-slice: 1;
}


button {
	color:#4E70F5;
	font-weight: 500;
	font-size: 1rem;
	background: transparent;
	box-shadow: 1px 1px 1px #a7a7a7;
}

button, input, textarea {
	border: 4px solid #D1D1D1;
	border-image:linear-gradient(to bottom right,#FFFCF0, #D1D1D1);
	border-image-slice: 1;
	outline:0;
	color:#;
}

button:hover, button:active,
input:hover, input:active, input:focus,
textarea:hover, textarea:active, textarea:focus
 {
	border: 4px solid #FFD845;
	border-image:linear-gradient(to bottom right,#FFD845, #FFD845);
	border-image-slice: 1;
	outline:none;
}

button:active {
	border: 4px solid #4E70F5;
	border-image:linear-gradient(to bottom right,#d1d1d1, #4E70F5);
	border-image-slice: 1;
	outline:none;
}

input, textarea {
	padding:.2rem;
}

form {
	display:grid;
	grid-template-columns: 1fr;
	gap:1rem;
}*/

form {
	background-color: #33D4D1;
	/*background-color: #1778B5;*/
	/*border:2px solid #33D4D1;*/
	padding:1rem;
	border-radius: 10px;
    box-shadow: 4px 4px 0px #D1D1D1;

}
form h2 {
	color: #fff;
	/*border-bottom: 2px solid #fff; */
}
form h2 span { 
    /*background:#33D4D1; */
}

input, textarea, button {
	padding: .3rem;
	box-sizing: border-box;
	margin-bottom:1rem;
	outline:0;
}

input, textarea, label {
	font-family: "courier";
}

input, textarea {
	width:100%;
	background-color: #fefefe;
	border: none;
	border-bottom:2px solid #8F8F8F;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-bottom:2px solid #ECF65C;
}

form div {
	position:relative;
}

label {
	position: absolute;
	top:.3rem;
	left:.3rem;
	color: #8F8F8F;
}

input {
	padding-left:5rem;
}

button {
	background-color: #fefefe;
	border: none;
	border-radius: 10px;
	width:100%;
	text-transform: uppercase;
	color:#8F8F8F;
	font-weight: 600;
}

button:hover {
	background-color:#ECF65C;
}

button:active {
    box-shadow: inset 2px 2px 1px #D1D1D1, inset -2px -2px 1px #fff;
}

textarea {
	resize: vertical;
}


