
body {
	font-family: calibri;
	background-color: #F2EBF5;
}

h1 {
	font-size:2em;
}

h1, h4 {
	text-align:center;
}

h2 {
	color:#5C92ED;
}

img {
	width:600px;
	display: block;
	margin:0 auto;
}

.comparison {
	display:grid;
	grid-template-columns:50% 50%;
	gap:0 10px;
}

.comparison h4 {
	margin-top:0;
}

ol {
	list-style-type: upper-roman;
}